.intro {
  padding-top: 60px;
  padding-bottom: 50px;

  @media screen and (min-width: 800px){
    padding-top: 118px;
    padding-bottom: 180px;
  }

  &__description{
    color: $dark-gray;
    line-height: 25px;
    font-size: responsive rem(16px) rem(22px);
  }
}
