.btn {
  color: #ffffff;
  transition: 0.3s ease-in-out;

  &--resume {
    background-color: $blue;
    padding: rem(11px) rem(10px);
  }

  &--view-more{
    background-color: black;
    padding: rem(10px) rem(30px);
  }

  &:hover {
    background-color: $blue2;
  }

  &--contact{
    background-color: black;
    padding: rem(10px) rem(30px);
    border: none;
    margin: 11px 0px 50px 0px;
  }

}
