.heading{

  // intro
  &--intro{
    font-size: responsive rem(21px) rem(55px);
    font-weight: $bold;
    text-transform: uppercase;
    width: 283px;
    margin-bottom: 5px;
    margin-top: 0;

    @media screen and (min-width: 400px){
      width: 100%;
    }

  }

  &--title{
    color: $blue2;
  }

  // projects
  &__company,
  &__email-type{
    text-transform: uppercase;
  }

  &__company {
    color: #ffffff;
    margin-bottom: 0;
  }

  &__email-type {
    color: $blue;
    font-weight: $bold;
    margin-top: 5px;
  }

  // about
  &--about{
    font-size: rem(18px);
    font-weight: $bold;
    text-transform: uppercase;
    margin-top: 25px;
    line-height: 25px;
  }

  // contact
  &--contact{
    font-size: rem(18px);
    font-weight: $bold;
    text-transform: uppercase;
    margin-top: 40px;

    @media screen and (min-width: 768px){
      font-size: rem(30px);
      margin-bottom: 0px;
    }

  }

}
